* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    -webkit-user-drag: none;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
